* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

a,
p {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* o código abaixo seleciona os arquivos que contém SOURCE e terminam com .jpg */
img[src$=".jpg"] {
  border-radius: 4px;
}
