.introducao-bg {
  background: var(--color-12) url(../../img/dec/bottom-left.svg) no-repeat
    bottom 160px left 40px;
  /* foi colocar o box shadow com o tamanho definido no Figma. Ficará na cor branca, na parte de baixo do container */
  box-shadow: inset 0 -120px var(--color-white);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 84px;
}

.introducao-conteudo {
  align-self: flex-end;
  /* a margem inicial era de 120px. Foi aumentada pra 240px pois coloquei uma box shadow no fundo do elemento para passar a sensação da imagem estar vazando do container */
  margin-bottom: 240px;
}

.introducao-conteudo h1 {
  color: var(--color-white);
  margin-bottom: 32px;
}

.introducao-conteudo span {
  color: var(--color-primary-1);
}

.introducao-conteudo p {
  color: var(--color-5);
  margin-bottom: 20px;
}

.introducao img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .introducao-bg {
    background: var(--color-11);
    box-shadow: inset 0 -60px var(--color-white);
  }

  .introducao-conteudo {
    margin-bottom: 180px;
  }

  .introducao-conteudo h1 {
    font-size: 3rem;
  }

  .introducao-conteudo p {
    color: var(--color-4);
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao-conteudo {
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .introducao-conteudo h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .introducao-conteudo p {
    font-size: 1.125rem;
  }
}
